---
export interface Props {
  title: string
  href: string
}

const { href, title } = Astro.props
---

<div class="card">
  <img src="https://picsum.photos/200" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{title}</h5>
    <div class="card-text mb-3">
      <slot />
    </div>
    <a href={href} class="btn btn-primary">Go somewhere</a>
  </div>
</div>
