---
import Layout from "../../layouts/Layout.astro"
import { getCollection } from "../../script/fetch"

// Cette fonction va permettre de construire toutes les pages en fonction du paramètre slug
// https://docs.astro.build/en/reference/api-reference/#getstaticpaths
export async function getStaticPaths() {
  const rubriques = await getCollection("rubriques", "?profondeur=1")

  return rubriques.map(rubrique => {
    return {
      params: { slug: rubrique.slug },
      props: { rubrique }
    }
  })
}

const { slug } = Astro.params
const { rubrique } = Astro.props
---

<Layout title={rubrique.titre}>
  <h1>{rubrique.titre}</h1>
  <div set:html={rubrique.texte} />
</Layout>
