---
import Layout from "../../layouts/Layout.astro"
import { getCollection } from "../../script/fetch"

// Cette fonction va permettre de construire toutes les pages en fonction du paramètre slug
// https://docs.astro.build/en/reference/api-reference/#getstaticpaths
export async function getStaticPaths() {
  const secteurs = await getCollection("rubriques", "?profondeur=1")

  return secteurs.map(secteur => {
    return {
      params: { slug: secteur.slug },
      props: { secteur }
    }
  })
}

const { slug } = Astro.params
const { secteur } = Astro.props
---

<Layout title={secteur.titre}>
  <h1>{secteur.titre}</h1>
  <p>
    {secteur.texte}
  </p>
</Layout>
